.container {
  max-width: 100vw;
}

table {
  width: 100%;
}

.mat-form-field {
  margin-top: 15vh;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.undo1 {
  font-size: 28px;
  position: fixed;
  left: 3vw;
  top: 3vh;
}
button {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #0c7da0;
  border: 1px, solid, white;
  transition: ease-in 0.3s;
  color: white;
}

button:hover {
  transition: ease-in 0.35s;
  background-color: #2fa2ff;
  border-color: rgb(1, 1, 1);
}
