<div class="container">
  <button class="undo1" (click)="Undo3()">Zurück</button>
  <h1>Rückgabe</h1>
  <div>
    <mat-icon
      *ngIf="checkN == true"
      aria-hidden="false"
      aria-label="Example home icon"
      class="j"
      >check</mat-icon
    >
    <mat-icon
      *ngIf="checkN == 'false'"
      aria-hidden="false"
      aria-label="Example home icon"
      class="x"
      >clear</mat-icon
    >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Vorname Nachname"
        [(ngModel)]="name"
        aria-label="Name"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div>
    <mat-icon
      *ngIf="checkH == true"
      aria-hidden="false"
      aria-label="Example home icon"
      class="j"
      >check</mat-icon
    >
    <mat-icon
      *ngIf="checkH == 'false'"
      aria-hidden="false"
      aria-label="Example home icon"
      class="x"
      >clear</mat-icon
    >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Hardware</mat-label>
      <input
        matInput
        placeholder="Bezeichnung"
        [(ngModel)]="hardware"
        aria-label="Hardware"
        matInput
        [formControl]="myControl2"
        [matAutocomplete]="auto2"
      />
      <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
        <mat-option
          *ngFor="let option2 of filteredOptions2 | async"
          [value]="option2"
        >
          {{ option2 }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="hard1">
    <mat-icon
      *ngIf="checkD == true"
      aria-hidden="false"
      aria-label="Example home icon"
      class="j"
      >check</mat-icon
    >
    <mat-icon
      *ngIf="checkD == 'false'"
      aria-hidden="false"
      aria-label="Example home icon"
      class="x"
      >clear</mat-icon
    >
    <mat-form-field appearance="fill">
      <mat-label>Rückgabe Datum</mat-label>
      <mat-select [(value)]="selected1">
        <mat-option value="nein">Heute</mat-option>
        <mat-option value="ja">Benutzerdefiniert</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="hardI2" *ngIf="selected1 == 'ja'">
      <mat-icon
        *ngIf="checkD2 == true"
        aria-hidden="false"
        aria-label="Example home icon"
        class="j"
        >check</mat-icon
      >
      <mat-icon
        *ngIf="checkD2 == 'false'"
        aria-hidden="false"
        aria-label="Example home icon"
        class="x"
        >clear</mat-icon
      >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Datum</mat-label>
        <input
          matInput
          placeholder="z.B.: 17.01.2022"
          [(ngModel)]="customDate"
        />
      </mat-form-field>
    </div>
    <div class="btn1">
      <button
        mat-raised-button
        class="sub1"
        (click)="Submit()"
        *ngIf="check3 == false"
      >
        Absenden
      </button>
      <button
        mat-raised-button
        class="sub1"
        (click)="Download()"
        *ngIf="check3 == true"
      >
        Herunterladen
      </button>
    </div>
    <div class="best" *ngIf="fin == true">
      <h1 class="besttxt">Übergabe war Erfolgreich!</h1>
      <mat-progress-bar
        class="bar"
        mode="determinate"
        [value]="count"
      ></mat-progress-bar>
    </div>
  </div>
</div>
